body {
    background-color: #0d0d15;
    font-family: "poppins", Aral, sans-serif;
    color: #f5f8fb;
  }
  
  header {
    background-color: #0d0d15;
    height: 112px;
  }
  
  .top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    padding: 36px 32px;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #f5f8fb;
  }
  
  .binabox-logo img {
    background-color: #0d0d15;
    width: 36px;
    height: 40px;
  }
  
  .binabox-logo a {
    font-family: "bakbak one", Aral, sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
  }
  
  .binabox-logo {
    display: flex;
    flex-direction: row;
  }
  
  .header-logo {
    padding-right: 16px;
  }
  
  .navigation a {
    font-family: "poppins", Aral, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  
  .nav-list {
    display: flex;
    flex-direction: row;
  }
  
  .nav-item {
    padding: 8px 20px;
  }
  
  .nav-buttons {
    display: flex;
    flex-direction: row;
  }
  
  .button-is-primary {
    background: transparent;
    font-family: "poppins", Aral, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #f5f8fb;
    border: 1px solid rgb(208, 215, 251, 17%);
    width: 159px;
    height: 48px;
    margin-left: 16px;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 12px 24px;
    align-items: center;
  }
  
  .button {
    background-color: #0265dc;
    font-family: "poppins", Aral, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #f5f8fb;
    border: 0px solid #0265dc;
    width: 159px;
    height: 48px;
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 12px 24px;
    align-items: center;
  }
  
  .button-search {
    background: transparent;
    font-family: "poppins", Aral, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #f5f8fb;
    border: 1px solid rgb(208, 215, 251, 17%);
    width: 188px;
    height: 48px;
    margin-right: 16px;
    padding: 14px 12px 12px 44px;
    background-image: url("images/icons/24/general/search-md.svg");
    background-repeat: no-repeat;
    background-position: 12px 12px;
  }
  
  h1 {
    font-family: "bakbak one", Aral, sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 20px;
  }
  
  .quicknav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    font-family: "poppins", Aral, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #e7eef7a8;
    margin-bottom: 197.24px;
  }
  
  .quick-comm-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-top: 64px;
  }
  
  .comm-card {
    border: 2px solid #d4d9f242;
    width: 328px;
    height: 232px;
    background-color: #0d0d15;
    font-family: "bakbak one", Aral, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .comm-card p {
    font-family: "poppins", Aral, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #eff5fad1;
    padding-bottom: 40px;
  }
  
  .comm-card img {
    width: 56px;
    height: 56px;
    padding: 40px 136px 24px 136px;
  }
  
  .comm-card h2 {
    padding: 0px 32px;
    margin: 0px;
  }
  
  h3 {
    color: #f8f7ff;
    font-size: 36px;
    line-height: 1.35em;
    text-align: center;
  }
  
  p {
    color: #eff5fad1;
    font-size: 20px;
    line-height: 1.4em;
    text-align: center;
  }
  
  .input-hidden {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: 0;
  }
  
  .contact-form {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  
  /* form control */
  .form-control {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }
  
  .form-control__label {
    align-self: flex-start;
    font-size: 14px;
    line-height: 1.4em;
    font-weight: 400;
    color: #f5f8fb;
  }
  
  .form-control__input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(208, 215, 251, 0.17);
    color: rgba(231, 238, 247, 0.66);
    transition: border-color 0.2s ease;
  }
  
  .form-control__input:disabled {
    background-color: rgba(191, 197, 238, 0.12);
    pointer-events: none;
  }
  
  .form-control__input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  .form-control__input:hover {
    border-color: #3892f3;
  }
  
  .form-control__input:user-invalid {
    border-color: #ea3829;
  }
  
  textarea.form-control__input {
    height: 160px;
    resize: none;
  }
  
  .form-control__submit {
    width: 100%;
    height: 48px;
    font-size: 18px;
    line-height: 1.55em;
    font-weight: 600;
    color: #f5f8fb;
    background-color: #0265dc;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  /* form checkbox */
  .form-checkbox {
    cursor: pointer;
  }
  
  .form-checkbox__inner {
    display: flex;
    justify-content: flex-start;
    column-gap: 9px;
  }
  
  .form-checkbox__box {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid rgba(212, 217, 242, 0.26);
    transition-property: border-color, background-color;
    transition-duration: 0.2s;
    position: relative;
  }
  
  .form-checkbox__box::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAATCAYAAABlcqYFAAAACXBIWXMAACE4AAAhOAFFljFgAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADoSURBVHgBtdPtDYIwEAbgO4Oi4Q+O5CTqJIygTiAbMIpugol811h7DZLKl1DKmxQIbe6h6QFgMGnOvChjIY04f11Dzl0wGSoaZ4yrI8lYQHMIBkIAcH5omytsazsZ6QMoznqJC5gRAERf3mAmABHum5W1Q8SH3InaFeKwTmAQkC+oaL0rZJEeoLFe7aic3XitdVFMhOLutnyO79jWcdIOynQfvCim7kgXoFhvDpcFgtcDVc+gAch5ukRp4YsFe9DIP6BCdKEhwA8yFhoKNJCh0BigMwSN+Q+MQkaBb54JO5dAKEZgHDCZD1zmI/Su9qWCAAAAAElFTkSuQmCC");
    background-position: center;
    background-size: 8px 6px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .form-checkbox__text {
    color: #f5f8fb;
    font-size: 14px;
    line-height: 1.4em;
  }
  
  .form-checkbox:hover .form-checkbox__box {
    background-color: #1d1c28;
  }
  
  .form-checkbox:active .form-checkbox__box {
    background-color: #59a7f6;
    border-color: #59a7f6;
  }
  
  .form-checkbox:focus .form-checkbox__box {
    background-color: #1a1925;
    border-color: #3892f3;
  }
  
  .form-checkbox:has(.form-checkbox__input:checked):hover .form-checkbox__box {
    background-color: #147af3;
    border-color: #147af3;
  }
  
  .form-checkbox:has(.form-checkbox__input:checked):active .form-checkbox__box {
    background-color: #59a7f6;
    border-color: #59a7f6;
  }
  
  .form-checkbox:has(.form-checkbox__input:checked):active
    .form-checkbox__box::before {
    filter: brightness(0) saturate(100%) invert(24%) sepia(93%) saturate(3065%)
      hue-rotate(204deg) brightness(92%) contrast(98%);
  }
  
  .form-checkbox:has(.form-checkbox__input:checked):focus .form-checkbox__box {
    background-color: #0265dc;
    border-color: #3892f3;
  }
  
  .form-checkbox__inner a {
    color: #78bbfa;
  }
  
  .form-checkbox__inner a:hover {
    text-decoration: underline;
  }
  
  .form-checkbox__input:checked + .form-checkbox__inner .form-checkbox__box {
    background-color: #0265dc;
    border-color: #0265dc;
  }
  
  .form-checkbox__input:checked
    + .form-checkbox__inner
    .form-checkbox__box::before {
    opacity: 1;
  }
  
  .form-checkbox__input:disabled + .form-checkbox__inner .form-checkbox__box {
    background-color: #2e2f3c;
    border-color: #2e2f3c;
  }
  
  .form-checkbox__input:invalid + .form-checkbox__inner .form-checkbox__box {
    border-color: #ea3829;
  }
  
  /* form switcher */
  .form-switcher {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #1d1c28;
  }
  
  .form-switcher__text {
    font-size: 14px;
    line-height: 1.4em;
    color: #f5f8fb;
  }
  
  .form-switcher__box {
    display: block;
    width: 40px;
    height: 20px;
    border-radius: 19px;
    background-color: rgba(229, 236, 251, 0.36);
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  .form-switcher__box::before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease;
    pointer-events: none;
    border: 2px solid #3892f3;
    border-radius: 100px;
  }
  
  .form-switcher__box::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 2px;
    left: 2px;
    transition-property: transform, background-color;
    transition-duration: 0.2s;
  }
  
  .form-switcher__input:checked + .form-switcher__box {
    background-color: #0265dc;
  }
  .form-switcher__input:checked + .form-switcher__box::after {
    transform: translateX(calc(100% + 4px));
  }
  .form-switcher__input:checked + .form-switcher__box::before {
    opacity: 1;
  }
  
  .form-switcher__input:disabled + .form-switcher__box {
    background-color: rgba(208, 215, 251, 0.17);
    cursor: default;
    opacity: 0.5;
  }
  
  .form-switcher__box:hover {
    background-color: rgba(212, 217, 242, 0.26);
  }
  .form-switcher__input:checked + .form-switcher__box:hover {
    background-color: #3892f3;
  }
  
  /* form radio */
  .form-radio {
    display: inline-flex;
    cursor: pointer;
  }
  
  .form-radio:has(.form-radio__input:disabled) {
    cursor: default;
  }
  
  .form-radio:hover .form-radio__box {
    background-color: rgba(231, 241, 253, 0.49);
  }
  
  .form-radio:hover .form-radio__box::after {
    background-color: #22232f;
  }
  
  .form-radio:has(.form-radio__input:checked):hover .form-radio__box {
    background-color: #147af3;
  }
  
  .form-radio:active .form-radio__box {
    background-color: rgba(231, 238, 247, 0.66);
  }
  
  .form-radio:active .form-radio__box::after {
    background-color: #202834;
  }
  
  .form-radio:has(.form-radio__input:checked):active .form-radio__box {
    background-color: #cae8ff;
  }
  
  .form-radio:has(.form-radio__input:checked):active .form-radio__box::after {
    background-color: #0265dc;
  }
  
  .form-radio__input:disabled + .form-radio__inner .form-radio__box {
    background-color: rgba(229, 236, 251, 0.36);
  }
  
  .form-radio__input:disabled + .form-radio__inner .form-radio__box::after {
    opacity: 0;
  }
  
  .form-radio__input:checked:disabled + .form-radio__inner .form-radio__box {
    background-color: rgba(212, 217, 242, 0.26);
  }
  
  .form-radio__input:checked:disabled
    + .form-radio__inner
    .form-radio__box::after {
    opacity: 1;
    background-color: #9da2aa;
  }
  
  .form-radio__input:checked + .form-radio__inner .form-radio__box {
    background-color: #0265dc;
  }
  
  .form-radio__input:checked + .form-radio__inner .form-radio__box::after {
    transform: translate(-50%, -50%) scale(0.4);
    background-color: #0d0d15;
  }
  
  .form-radio__inner {
    display: grid;
    align-items: start;
    align-content: start;
    column-gap: 4px;
    grid-template-columns: 24px 1fr;
  }
  
  .form-radio__text {
    font-size: 14px;
    line-height: 1.4em;
    color: #f5f8fb;
    font-weight: 400;
  }
  
  .form-radio__box {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #e7eef7a8;
    transition: background-color 0.2s ease;
    position: relative;
  }
  
  .form-radio__box::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0d0d15;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-property: transform, background-color, opacity;
    transition-duration: 0.2s;
  }
  
  footer {
    background-color: #1a1925;
    width: 1728px;
    height: 388px;
  }
  
  .binabox-logo-footer img {
    width: 36px;
    height: 40px;
  }
  
  .logo-name {
    font-family: "bakbak one", Aral, sans-serif;
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    color: #0265dc;
    padding-left: 16px;
    padding-right: 12px;
    margin: 0%;
  }
  
  .mini-logo {
    display: flex;
    flex-direction: row;
  }
  
  .logo-subtext {
    font-family: "poppins", Aral, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #f5f8fb;
    padding-top: 12px;
  }
  
  .footer-logo {
    margin-bottom: 126px;
    margin-right: 952px;
  }
  
  .subscribe-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .company-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 24px;
  }
  
  .section-title {
    font-family: "poppins", Aral, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
  
  .section-item {
    font-family: "poppins", Aral, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }
  
  .footer-contents {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
  }
  
  .copyright {
    font-family: "poppins", Aral, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #f5f8fb;
  }
  
  .net-socials {
    display: flex;
    flex-direction: row;
  }
  
  .net-social-item {
    padding: 8px;
    margin: 0px 4px;
  }
  
  .copyright-networks {
    display: flex;
    flex-direction: row;
    gap: 1074px;
  }
  
  .footer-data {
    margin: 64px 64px 32px 64px;
  }
  